## Scrape Data with Beautiful Soup & Requests

#### **WEB SCRAPING**
In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per
the requirement of the question.
Every answer to the question should be in form of a python function which should take URL as the parameter.
Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the Jupyter notebook to
your SME.


1) Display all the header tags from wikipedia.org.<br>

2) Display IMDB’s Top rated 100 movies’ data. <br>

3) Display IMDB’s Top rated 100 Indian movies’ data. <br>

4) Scrape product from **https://meesho.com/bagsladies/pl/p7vbp** <br>
    
5) Scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
b) Top 10 ODI Batsmen along with the records of their team and rating.
c) Top 10 ODI bowlers along with the records of their team and rating.

6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
b) Top 10 women’s ODI Batting players along with the records of their team and rating.
c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content
and the code for the video from the link for the youtube video from the post.

8) Write a python program to scrape house details from mentioned URL. It should include house title, location,
area, EMI and price .Enter three localities which are Indira Nagar, Jayanagar,
Rajaji Nagar.<br>
url = "https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar"


9) Write a python program to scrape mentioned details from https://dineout.co.in :
**i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL**

10) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-printed-t-shirts

**-------------------------------------------------------------------------------------------------------------------------**

## 1) Write a python program to display all the header tags from wikipedia.org.

In [607]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def header(url, tag1, tag2):
    soup = BeautifulSoup(requests.get(url).content)
    [print(i.text) for i in soup.find_all(tag1)], [print(i.text) for i in soup.find_all(tag2)]

header(url = 'https://en.wikipedia.org/wiki/Main_Page', tag1 = 'h1', tag2 = 'h2')

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

 **-------------------------------------------------------------------------------------------------------------------------**

### 2) IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [608]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def imdb_top_100( url, filter_range):
    
    imdb_soup = BeautifulSoup(requests.get( url ).content)
    imdb_name_release = imdb_soup.find_all('td',class_ = "titleColumn")

    counts = []
    movienames = []
    release_year = []
    ratings = []

    #count
    for num in imdb_soup.find_all('td',class_ = "titleColumn"):
        counts.append(int(num.text.split()[0].replace(".",'')))
    #Movie_Names
    for name in imdb_soup.find_all('td',class_ = "titleColumn"):
        movienames.append(name.find('a').text)
    #Release_Year
    for year in imdb_soup.find_all('span', class_ = "secondaryInfo"):
        release_year.append(year.text)
    #Rating
    for rating in imdb_soup.find_all('td', class_ ="ratingColumn imdbRating"):
        ratings.append(rating.text.replace('\n',''))
    
    imdb_top_movies = pd.DataFrame({'no': counts, 'name': movienames, 'release': release_year, 'ratings': ratings})
    
    #print(imdb_top_movies[imdb_top_movies['no'] <= filter_range])
    return imdb_top_movies.head(filter_range)
    
imdb_top_100(url = 'https://www.imdb.com/chart/top', filter_range = 100)

     no                                 name release ratings
0     1             The Shawshank Redemption  (1994)     9.2
1     2                        The Godfather  (1972)     9.2
2     3                      The Dark Knight  (2008)     9.0
3     4               The Godfather: Part II  (1974)     9.0
4     5                         12 Angry Men  (1957)     9.0
..  ...                                  ...     ...     ...
95   96    M - Eine Stadt sucht einen Mörder  (1931)     8.3
96   97                   North by Northwest  (1959)     8.3
97   98                               Jagten  (2012)     8.3
98   99                              Vertigo  (1958)     8.3
99  100  Le fabuleux destin d'Amélie Poulain  (2001)     8.3

[100 rows x 4 columns]

 **-------------------------------------------------------------------------------------------------------------------------**

### 3) IMDB’s Top rated 100 Indian movies (name, rating, year of release) and make data frame.

In [609]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def imdb_top_100( url, filter_range):
    
    imdb_soup = BeautifulSoup(requests.get( url ).content)
    imdb_name_release = imdb_soup.find_all('td',class_ = "titleColumn")

    counts = []
    movienames = []
    release_year = []
    ratings = []

    #count
    for num in imdb_soup.find_all('td',class_ = "titleColumn"):
        counts.append(int(num.text.split()[0].replace(".",'')))
    #Movie_Names
    for name in imdb_soup.find_all('td',class_ = "titleColumn"):
        movienames.append(name.find('a').text)
    #Release_Year
    for year in imdb_soup.find_all('span', class_ = "secondaryInfo"):
        release_year.append(year.text)
    #Rating
    for rating in imdb_soup.find_all('td', class_ ="ratingColumn imdbRating"):
        ratings.append(rating.text.replace('\n',''))
    
    imdb_top_movies = pd.DataFrame({'no': counts, 'name': movienames, 'release': release_year, 'ratings': ratings})
    
    #print(imdb_top_movies[imdb_top_movies['no'] <= filter_range])
    return imdb_top_movies.head(filter_range)
    
imdb_top_100(url = 'https://www.imdb.com/india/top-rated-indian-movies/', filter_range = 100)

     no                         name release ratings
0     1                     Jai Bhim  (2021)     8.4
1     2                   Anbe Sivam  (2003)     8.4
2     3            Pariyerum Perumal  (2018)     8.4
3     4                      Golmaal  (1979)     8.4
4     5                      Nayakan  (1987)     8.4
..  ...                          ...     ...     ...
95   96   The Legend of Bhagat Singh  (2002)     8.0
96   97                       Sholay  (1975)     8.0
97   98                       Angoor  (1982)     8.0
98   99  Baahubali 2: The Conclusion  (2017)     8.0
99  100      Maheshinte Prathikaaram  (2016)     8.0

[100 rows x 4 columns]

 **-------------------------------------------------------------------------------------------------------------------------**

### 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [782]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def shopping():
    
    soup = BeautifulSoup(requests.get("https://meesho.com/bagsladies/pl/p7vbp").content)

    names = []
    product_prices = []
    discount_msg = []
    discount = []
    
    #Names
    for data in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw"):
        names.append(data.text)
    
    #PRODUCT PRICES
    for prices in soup.find_all('p', class_ ="Text__StyledText-sc-oo0kvp-0 hgHnkG Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 coIjqc Paragraph__StyledParagraphBody2StrikeThrough-sc-69qp0d-0 coIjqc"):
        product_prices.append(prices.text.replace('₹',''))
       
        
    #Discount
    for discont in soup.find_all('h5', class_ ="Text__StyledText-sc-oo0kvp-0 dLSsNI"):
        discount.append(discont.text.split()[0].replace('₹', ''))
        
    #Discount_msg
    for discont_msg in soup.find_all('p', class_ ="Text__StyledText-sc-oo0kvp-0 iDRzyZ NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 dppwvY"):
        discount_msg.append(' '.join(discont_msg.text.split()[1:]))
        
    df_shopping = pd.DataFrame({'product_name':names, 'product_price':product_prices, 'discount':discount_msg, 'discount_price': discount})
    
    return df_shopping

shopping()

,product_name,product_price,discount,discount_price
0,Graceful Fashionable Women Handbags,620,discount on 1st order,570
1,Classic Attractive Women Handbags,584,discount on 1st order,534
2,Voguish Alluring Women Handbags,284,discount on 1st order,242
3,Classic Fashionable Women Handbags,990,discount on 1st order,940
4,FashionableLatest Women handbag,100,discount on 1st order,85
5,Fancy Modern Women Handbag,1442,discount on 1st order,1392
6,Elite Fashionable Women Handbags,1399,discount on 1st order,1349
7,Graceful Alluring Women Handbags,484,discount on 1st order,434
8,New Collections Of Garbage Handbags,784,discount on 1st order,734
9,Classic Versatile Women Handbags,710,discount on 1st order,660
10,Handbags,8999,discount on 1st order,8949
11,Graceful Attractive Women Handbags,500,discount on 1st order,450
12,Graceful Women Women Handbags,334,discount on 1st order,284
13,Styles Latest Women handbags,1169,discount on 1st order,1119
14,Attractive Handbags,531,discount on 1st order,481
15,Fashionable Women Handbag,354,discount on 1st order,304
16,Classic Versatile Women Handbags,799,discount on 1st order,749
17,Classic Versatile Women Handbags,314,discount on 1st order,267
18,Ravishing Classy Women Handbags,616,discount on 1st order,566
19,Gorgeous Fancy Women Handbags,699,discount on 1st order,649

 **-------------------------------------------------------------------------------------------------------------------------**

### 5) Write a python program to scrape cricket rankings from icc-cricket.com.
**a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.** <br>
**b) Top 10 ODI Batsmen along with the records of their team and rating.** <br>
**c) Top 10 ODI bowlers along with the records of their team and rating.**

### a) Top 10 ODI teams

In [781]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def men_odi_cricket_team():
    soup = BeautifulSoup(requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi").content)
    
    #list comprehension
    team_name = [name.next.next.next.next.text for name in soup.find_all('td', class_="table-body__cell rankings-table__team")]
    team_name.insert(0,soup.find_all('span', class_="flag-30 rankings-block__banner--flag NZ")[0].next.next.text)

    matches = [country_name.text for country_name in soup.find_all('td', class_="table-body__cell u-center-text")][0::2]
    matches.insert(0, soup.find('td', class_="rankings-block__banner--matches").text.replace('\n','').replace(' ', ''))
    
    points = [ratings.text for ratings in soup.find_all('td', class_="table-body__cell u-center-text")][1::2]
    points.insert(0, soup.find('td', class_="rankings-block__banner--points").text.replace('\n', '').replace('  ', ''))

    rating = [best_rating.text.replace('\n','').replace('  ','') for best_rating in soup.find_all('td', class_ ="table-body__cell u-text-right rating")]
    rating.insert(0, soup.find('td', class_="rankings-block__banner--rating u-text-right").text.replace('\n', '').replace('  ', ''))
     
    print(len(team_name),len(matches),len(points),len(rating))
    
    df_mens_odi = pd.DataFrame({'team_name':team_name, 'matches':matches, 'rating':rating, 'points':points})
    return df_mens_odi

#Enter value to check top playes
men_odi_cricket_team()

20 20 20 20

           team_name matches rating points
0        New Zealand      19    122  2,316
1            England      32    119  3,793
2          Australia      31    112  3,475
3              India      38    110  4,162
4       South Africa      31    102  3,167
5           Pakistan      30     97  2,921
6         Bangladesh      36     93  3,350
7          Sri Lanka      35     81  2,835
8        West Indies      36     77  2,788
9        Afghanistan      23     68  1,562
10           Ireland      28     52  1,445
11          Scotland      10     45    452
12          Zimbabwe      23     41    951
13       Netherlands      12     36    433
14               UAE      20     33    651
15              Oman      24     30    720
16           Namibia      13     21    268
17             Nepal      17     18    308
18     United States      14     17    232
19  Papua New Guinea      19     11    207

### b)Top 10 ODI Batsmen

In [784]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def men_odi_cricket(filter_result):
    soup = BeautifulSoup(requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting").content)
    
    #list comprehension
    player_name = [name.text.replace('\n', '') for name in soup.find_all('td', class_ ="table-body__cell rankings-table__name name")]
    player_name.insert(0,soup.find('div', class_ ="rankings-block__banner--name-large").text)
    
    country = [country_name.text for country_name in soup.find_all('span', class_="table-body__logo-text")]
    country.insert(0, soup.find('div', class_ ="rankings-block__banner--nationality").text.replace('\n','').replace(' ', ''))
    
    rating = [ratings.text for ratings in soup.find_all('td', class_="table-body__cell rating")]
    rating.insert(0, soup.find('div', class_="rankings-block__banner--rating").text)
    
    career_best_rating = [best_rating.text.replace('\n','').replace('  ','') for best_rating in soup.find_all('td', class_ ="table-body__cell u-text-right u-hide-phablet")]
    career_best_rating.insert(0, soup.find('div',class_="rankings-block__career-best").text.replace('\n', '').replace('  ', ''))
    
    
    df_mens_odi = pd.DataFrame({'player_name':player_name, 'country':country, 'rating':rating, 'career_best_rating':career_best_rating})
    return df_mens_odi[df_mens_odi.index < filter_result]

#Enter value to check top playes
men_odi_cricket(filter_result= 10)

             player_name country rating              career_best_rating
0             Babar Azam     PAK    872       873 v England, 13/07/2021
1            Virat Kohli     IND    811       911 v England, 12/07/2018
2            Ross Taylor      NZ    794    841 v Bangladesh, 05/06/2019
3           Rohit Sharma     IND    791     885 v Sri Lanka, 06/07/2019
4        Quinton de Kock      SA    789     813 v Sri Lanka, 10/03/2019
5         Jonny Bairstow     ENG    775         796 v India, 26/03/2021
6            Aaron Finch     AUS    771       798 v England, 25/06/2019
7  Rassie van der Dussen      SA    769    776 v Bangladesh, 20/03/2022
8           David Warner     AUS    758      880 v Pakistan, 26/01/2017
9            Imam-ul-Haq     PAK    746  768 v South Africa, 02/04/2021

### c) Top 10 ODI bowlers

In [776]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def men_odi_cricket(filter_result):
    soup = BeautifulSoup(requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling").content)
    
    #list comprehension
    player_name = [name.text.replace('\n', '') for name in soup.find_all('td', class_ ="table-body__cell rankings-table__name name")]
    player_name.insert(0,soup.find('div', class_ ="rankings-block__banner--name-large").text)
    
    country = [country_name.text for country_name in soup.find_all('span', class_="table-body__logo-text")]
    country.insert(0, soup.find('div', class_ ="rankings-block__banner--nationality").text.replace('\n','').replace(' ', ''))
    
    rating = [ratings.text for ratings in soup.find_all('td', class_="table-body__cell rating")]
    rating.insert(0, soup.find('div', class_="rankings-block__banner--rating").text)
    
    career_best_rating = [best_rating.text.replace('\n','').replace('  ','') for best_rating in soup.find_all('td', class_ ="table-body__cell u-text-right u-hide-phablet")]
    career_best_rating.insert(0, soup.find('div',class_="rankings-block__career-best").text.replace('\n', '').replace('  ', ''))
    
    
    df_mens_odi = pd.DataFrame({'player_name':player_name, 'country':country, 'rating':rating, 'career_best_rating':career_best_rating})
    return df_mens_odi[df_mens_odi.index < filter_result]

#Enter value to check top playes
men_odi_cricket(filter_result= 10)

        player_name country rating             career_best_rating
0       Trent Boult      NZ    733  770 v West Indies, 22/06/2019
1    Josh Hazlewood     AUS    705      733 v England, 26/01/2018
2      Chris Woakes     ENG    700    711 v Sri Lanka, 04/07/2021
3        Matt Henry      NZ    687   691 v Bangladesh, 26/03/2021
4  Mujeeb Ur Rahman     AFG    681      712 v Ireland, 24/01/2021
5    Jasprit Bumrah     IND    679  841 v West Indies, 01/11/2018
6      Mehedi Hasan     BAN    661    725 v Sri Lanka, 25/05/2021
7   Shakib Al Hasan     BAN    657     717 v Zimbabwe, 05/11/2009
8        Adam Zampa     AUS    650     650 v Pakistan, 29/03/2022
9       Rashid Khan     AFG    650     806 v Pakistan, 21/09/2018

 **-------------------------------------------------------------------------------------------------------------------------**

### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
**a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.** <br>
**b) Top 10 women’s ODI Batting players along with the records of their team and rating.**<br>
**c) Top 10 women’s ODI all-rounder along with the records of their team and rating.**

### a) Top 10 ODI teams in women’s cricket

In [797]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def women_odi_cricket_team():
    soup = BeautifulSoup(requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi").content)
    
    #list comprehension
    team_name = [name.next.next.next.next.text for name in soup.find_all('td', class_="table-body__cell rankings-table__team")]
    team_name.insert(0,soup.find_all('span', class_="flag-30 rankings-block__banner--flag AUS")[0].next.next.text)

    matches = [country_name.text for country_name in soup.find_all('td', class_="table-body__cell u-center-text")][0::2]
    matches.insert(0, soup.find('td', class_="rankings-block__banner--matches").text.replace('\n','').replace(' ', ''))
    
    points = [ratings.text for ratings in soup.find_all('td', class_="table-body__cell u-center-text")][1::2]
    points.insert(0, soup.find('td', class_="rankings-block__banner--points").text.replace('\n', '').replace('  ', ''))

    rating = [best_rating.text.replace('\n','').replace('  ','') for best_rating in soup.find_all('td', class_ ="table-body__cell u-text-right rating")]
    rating.insert(0, soup.find('td', class_="rankings-block__banner--rating u-text-right").text.replace('\n', '').replace('  ', ''))
         
    df_mens_odi = pd.DataFrame({'team_name':team_name, 'matches':matches, 'rating':rating, 'points':points})
    return df_mens_odi

#Enter value to check top playes
women_odi_cricket_team()

       team_name matches rating points
0      Australia      28    167  4,663
1   South Africa      28    125  3,504
2        England      29    118  3,425
3          India      29    100  2,890
4    New Zealand      31     97  3,018
5    West Indies      28     89  2,478
6     Bangladesh      12     78    935
7       Pakistan      26     67  1,753
8        Ireland       5     48    240
9      Sri Lanka       5     47    233
10      Zimbabwe       8      0      0

### b)Top 10 women’s ODI Batting players

In [793]:
#------------------------------------------
#same code is working for WOMEN ODI CRICKET
#__________________________________________
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def women_odi_cricket(filter_result):
    soup = BeautifulSoup(requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting").content)
    
    #list comprehension
    player_name = [name.text.replace('\n', '') for name in soup.find_all('td', class_ ="table-body__cell rankings-table__name name")]
    player_name.insert(0,soup.find('div', class_ ="rankings-block__banner--name-large").text)
    
    country = [country_name.text for country_name in soup.find_all('span', class_="table-body__logo-text")]
    country.insert(0, soup.find('div', class_ ="rankings-block__banner--nationality").text.replace('\n','').replace(' ', ''))
    
    rating = [ratings.text for ratings in soup.find_all('td', class_="table-body__cell rating")]
    rating.insert(0, soup.find('div', class_="rankings-block__banner--rating").text)
    
    career_best_rating = [best_rating.text.replace('\n','').replace('  ','') for best_rating in soup.find_all('td', class_ ="table-body__cell u-text-right u-hide-phablet")]
    career_best_rating.insert(0, soup.find('div',class_="rankings-block__career-best").text.replace('\n', '').replace('  ', ''))
    
    
    df_mens_odi = pd.DataFrame({'player_name':player_name, 'country':country, 'rating':rating, 'career_best_rating':career_best_rating})
    return df_mens_odi[df_mens_odi.index < filter_result]

#Enter value to check top playes
women_odi_cricket(filter_result = 10)

         player_name country rating             career_best_rating
0    Laura Wolvaardt      SA    740    741 v Australia, 22/03/2022
1        Beth Mooney     AUS    726      734 v England, 03/02/2022
2        Meg Lanning     AUS    718  834 v New Zealand, 24/02/2016
3     Natalie Sciver     ENG    705        712 v India, 25/02/2019
4       Alyssa Healy     AUS    703        776 v India, 21/09/2021
5        Mithali Raj     IND    686    839 v Australia, 24/12/2004
6     Rachael Haynes     AUS    684  713 v West Indies, 15/03/2022
7     Tammy Beaumont     ENG    682        791 v India, 27/06/2021
8  Amy Satterthwaite      NZ    681    756 v Australia, 02/03/2017
9    Smriti Mandhana     IND    669      797 v England, 28/02/2019

### c)Top 10 women’s ODI all-rounder

In [795]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def women_odi_cricket(filter_result):
    soup = BeautifulSoup(requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder").content)
    
    #list comprehension
    player_name = [name.text.replace('\n', '') for name in soup.find_all('td', class_ ="table-body__cell rankings-table__name name")]
    player_name.insert(0,soup.find('div', class_ ="rankings-block__banner--name-large").text)
    
    country = [country_name.text for country_name in soup.find_all('span', class_="table-body__logo-text")]
    country.insert(0, soup.find('div', class_ ="rankings-block__banner--nationality").text.replace('\n','').replace(' ', ''))
    
    rating = [ratings.text for ratings in soup.find_all('td', class_="table-body__cell rating")]
    rating.insert(0, soup.find('div', class_="rankings-block__banner--rating").text)
    
    career_best_rating = [best_rating.text.replace('\n','').replace('  ','') for best_rating in soup.find_all('td', class_ ="table-body__cell u-text-right u-hide-phablet")]
    career_best_rating.insert(0, soup.find('div',class_="rankings-block__career-best").text.replace('\n', '').replace('  ', ''))
    
    
    df_mens_odi = pd.DataFrame({'player_name':player_name, 'country':country, 'rating':rating, 'career_best_rating':career_best_rating})
    return df_mens_odi[df_mens_odi.index < filter_result]

#Enter value to check top playes
women_odi_cricket(filter_result = 10)

        player_name country rating              career_best_rating
0      Ellyse Perry     AUS    404   548 v West Indies, 11/09/2019
1    Natalie Sciver     ENG    376   391 v New Zealand, 16/09/2021
2    Marizanne Kapp      SA    359   419 v West Indies, 10/09/2021
3   Hayley Matthews      WI    340         365 v India, 12/03/2022
4       Amelia Kerr      NZ    335  339 v South Africa, 17/03/2022
5  Ashleigh Gardner     AUS    278    278 v Bangladesh, 25/03/2022
6     Deepti Sharma     IND    249  397 v South Africa, 09/10/2019
7     Jess Jonassen     AUS    246   308 v West Indies, 11/09/2019
8   Katherine Brunt     ENG    239     296 v Australia, 03/02/2022
9    Jhulan Goswami     IND    217     308 v Australia, 02/02/2016

**-------------------------------------------------------------------------------------------------------------------------**

### 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

**CONTENT OF ALL 17 PAGES**

In [780]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def coreyms_posts():
    
    url = 'https://coreyms.com/page/'
    max_pages = [data.text for data in BeautifulSoup(requests.get('https://coreyms.com/page/1').content).find('div', class_="archive-pagination pagination").find_all('li')][4]    
    
    title = []
    author = []
    date = []
    content = []
    link = []
    
    for page_number in range(1,int(max_pages)+1):
        soup = BeautifulSoup(requests.get(url+str(page_number)).content)
        containers = soup.find_all('article')        
        print(f'Fetching data from page : {page_number}')
        #TITLE
        for data in containers:
            title.append(data.find_all('h2')[0].text)
        #AUTHOR
        for data in containers:
            author.append(data.find_all('a')[1].text)
        #DATE
        for data in containers:
            date.append(data.find_all('time')[0].text) 
        #CONTENT
        for data in containers:
            content.append(data.find_all('p')[1].text)      
        #YOUTUBE LINKS
        for data in containers:
            try:
                link.append(data.find('iframe')['src'])
                
            except:
                link.append(np.nan)
                
    df = pd.DataFrame({"title":title, "author":author, "date":date, "link":link})
    
    return df

coreyms_posts()

Fetching data from page : 1
Fetching data from page : 2
Fetching data from page : 3
Fetching data from page : 4
Fetching data from page : 5
Fetching data from page : 6
Fetching data from page : 7
Fetching data from page : 8
Fetching data from page : 9
Fetching data from page : 10
Fetching data from page : 11
Fetching data from page : 12
Fetching data from page : 13
Fetching data from page : 14
Fetching data from page : 15
Fetching data from page : 16
Fetching data from page : 17

,title,author,date,link
0,Python Tutorial: Zip Files – Creating and Extr...,Corey Schafer,"November 19, 2019",https://www.youtube.com/embed/z0gguhEmWiY?vers...
1,Python Data Science Tutorial: Analyzing the 20...,Corey Schafer,"October 17, 2019",https://www.youtube.com/embed/_P7X8tMplsw?vers...
2,Python Multiprocessing Tutorial: Run Code in P...,Corey Schafer,"September 21, 2019",https://www.youtube.com/embed/fKl2JW_qrso?vers...
3,Python Threading Tutorial: Run Code Concurrent...,Corey Schafer,"September 12, 2019",https://www.youtube.com/embed/IEEhzQoKtQU?vers...
4,Update (2019-09-03),Corey Schafer,"September 3, 2019",NaN
...,...,...,...,...
157,Quick Tip: Use a Wooden Pallet as a Lumber Rack,Corey Schafer,"April 21, 2014",NaN
158,How to Record Sound From Your Computer’s Speak...,Corey Schafer,"March 2, 2014",NaN
159,Ems and Rems for Sizing,Corey Schafer,"September 21, 2013",NaN
160,How to Build a Pergola,Corey Schafer,"September 12, 2013",NaN
161,Adding Custom Web Fonts to Your Web Site Using...,Corey Schafer,"July 1, 2013",https://www.youtube.com/embed/y2AlgMII1OU?vers...

**-------------------------------------------------------------------------------------------------------------------------**

### 8) Write a python program to scrape house details from mentioned URL. It should include 
**1)House title 
2)location,
3)Area,
4)EMI 
5)price**<br>
url = "https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar"

In [615]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

def nobroker():
    url = "https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45OTgxNzMyLCJsb24iOjc3LjU1MzA0NDU5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnhmVzREUE05cmpzUktzTlRHLTVwX1FRIiwicGxhY2VOYW1lIjoiUmFqYWppbmFnYXIifSx7ImxhdCI6MTIuOTMwNzczNSwibG9uIjo3Ny41ODM4MzAyLCJwbGFjZUlkIjoiQ2hJSjJkZGxaNWdWcmpzUmgxQk9BYWYtb3JzIiwicGxhY2VOYW1lIjoiSmF5YW5hZ2FyIn0seyJsYXQiOjEyLjk3ODM2OTIsImxvbiI6NzcuNjQwODM1NiwicGxhY2VJZCI6IkNoSUprUU4zR0tRV3Jqc1JOaEJRSnJoR0Q3VSIsInBsYWNlTmFtZSI6IkluZGlyYW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Rajajinagar,&locality=Jayanagar,&locality=Indiranagar"
    soup = BeautifulSoup(requests.get(url).content)
    containers = soup.find_all('article')
    
    house_title = [data.find_all('span')[0].text for data in containers]
    price = [data.find_all('div', class_="font-semi-bold heading-6")[2].text for data in containers]
    emi = [data.find_all('div')[15].text for data in containers]
    area = [data.find_all('span')[10].text for data in containers]
    location = [data.find_all('span')[6].text for data in containers]

    df = pd.DataFrame({"house_title":house_title, "price":price, "emi":emi, "area":area, "location":location})
    
    return df


nobroker()

,house_title,price,emi,area,location
0,4+ BHK In Independent House For Sale In Raja...,₹1.1 Crores,"₹63,045/MonthEstimated EMI",Rajaji Nagar,"Independent House, 6th Cross road,9th main ro..."
1,2 BHK Apartment For Sale In Tarang Parkway A...,₹1 Crore,"₹57,314/MonthEstimated EMI",Basaveshwar Nagar,"2nd Main Rd, Shivanagar, Basaveshwar Nagar, Be..."
2,2 BHK Flat For Sale In Kumar Ashraya Apartme...,₹66 Lacs,"₹37,827/MonthEstimated EMI",Jayanagar,"Kumar Ashraya Apartments 194, 9th Cross Rd 2n..."
3,3 BHK Apartment For Sale In Brigade Gateway ...,₹2.62 Crores,₹1.5 Lacs/MonthEstimated EMI,Rajaji Nagar,"Dr Rajkumar Road, Rajaji Nagar, Bengaluru, Kar..."
4,4+ BHK In Independent House For Sale In Jaya...,₹3.85 Crores,₹2.21 Lacs/MonthEstimated EMI,Jayanagar,"Independent House, TMC Layout behind rajalaxmi..."
5,2 BHK Apartment For Sale In Blueberry Apartm...,₹1.53 Crores,"₹87,691/MonthEstimated EMI",Indiranagar,"13th E Main Rd, Channakesahava Nagar, HAL 2nd ..."
6,3 BHK Apartment For Sale In Mayitri Enclave ...,₹78 Lacs,"₹44,705/MonthEstimated EMI",Jayanagar,"Mayitri Enclave, 39th C, 5T Block, 4th T Block..."
7,4+ BHK In Independent House For Sale In Prak...,₹1.35 Crores,"₹77,374/MonthEstimated EMI","Prakash Nagar, Rajaji Nagar","Independent House, 6th C cross 3rd main rd nea..."
8,"2 BHK Flat For Sale In Jains Prakruti, Jayan...",₹1.5 Crores,"₹85,971/MonthEstimated EMI",Jayanagar 7TH BLOCK,"Kanakapura Road, Jayanagar, Bangalore, Karnata..."
9,4 BHK In Independent House For Sale In Jayan...,₹2.7 Crores,₹1.55 Lacs/MonthEstimated EMI,Jayanagar 4th 'T' Block,"Independent House, SBI Branch Jayanagar 9th bl..."
10,3 BHK Flat For Sale In Benaka Apartments In ...,₹85 Lacs,"₹48,717/MonthEstimated EMI",Indiranagar,"871, 5th Cross Rd, Indira Nagar 1st Stage, Sta..."
11,2 BHK Apartment For Sale In Jains Prakriti I...,₹2 Crores,₹1.15 Lacs/MonthEstimated EMI,Jayanagar,"Kanakapura Rd, 7th Block West, 7th Block, Jay..."
12,2 BHK Flat For Sale In Jayanagar Residency I...,₹1 Crore,"₹57,314/MonthEstimated EMI",Jayanagar,"Jayanagar Residency, K V Layout, LIC Colony, J..."
13,4 BHK Flat For Sale In Rrbc Piccassso In Jay...,₹6.83 Crores,₹3.91 Lacs/MonthEstimated EMI,Jayanagar,"Municipal No.152, 18th main road, beside Sai B..."
14,4 BHK Flat For Sale In Phoenix One Bangalor...,₹4.75 Crores,₹2.72 Lacs/MonthEstimated EMI,Rajajinagar,"Dr Rajkumar Rd, opposite Sheraton Hotel, Rajaj..."
15,4+ BHK In Independent House For Sale In Laks...,₹1.1 Crores,"₹63,045/MonthEstimated EMI",Lakshmipuram Indrinagar,"Independent House, CMH Rd , Near B P Bakery4+ ..."
16,3 BHK Flat For Sale In Rajaji Nagar,₹1.35 Crores,"₹77,374/MonthEstimated EMI",Rajaji Nagar,"Independent House, 242, 27th cross, 2nd Block,..."
17,3 BHK Flat For Sale In Sgrr Pallavi Pristin...,₹1.3 Crores,"₹74,508/MonthEstimated EMI",Jayanagar,"11th Main Road,36 Cross, 4th T Block, Near ,Po..."
18,"3 BHK Flat For Sale In Hal 2nd Stage,indiran...",₹3.7 Crores,₹2.12 Lacs/MonthEstimated EMI,"HAL 2nd Stage,Indiranagar","Standalone building, 16th F main, Hal 2nd stag..."
19,3 BHK Apartment For Sale In Ashiana Gardens ...,₹1.4 Crores,"₹80,240/MonthEstimated EMI",Indiranagar,"4, Sri Rama Temple Rd, Channakesahava Nagar, H..."
20,4 BHK Flat For Sale In Golfridge In Indira N...,₹2.85 Crores,₹1.63 Lacs/MonthEstimated EMI,Indira Nagar,embassy golf link road4 BHK Flat For Sale In...
21,4+ BHK In Independent House For Sale In Raja...,₹1.46 Crores,"₹83,679/MonthEstimated EMI",Rajajinagar,"Independent House, 6th Cross Rd, 2nd Block ne..."
22,4 BHK In Independent House For Sale In Jayan...,₹9.5 Crores,₹5.44 Lacs/MonthEstimated EMI,Jayanagar,"Independent House, 47th Cross Rd, 8th Block, 1..."
23,2 BHK Flat For Sale In Aishwaryam Gokula In ...,₹78 Lacs,"₹44,705/MonthEstimated EMI",Govindraja Nagar,1st main govindraja naagar blore 5600402 BHK F...
24,"3 BHK Apartment For Sale In Admiralty Manor,...",₹1.6 Crores,"₹91,703/MonthEstimated EMI",Indiranagar,"Admiralty Manor, 6th Main Rd, Eshwara Layout, ..."

**-------------------------------------------------------------------------------------------------------------------------**

## 9) Write a python program to scrape mentioned details from dineout.co.in :
**i) Restaurant name <br>
ii) Cuisine<br>
iii) Location<br>
iv) Ratings<br>
v) Image URL**

In [424]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

def dine_out():   
    soup = BeautifulSoup(requests.get("https://www.dineout.co.in/goa-restaurants/welcome-back?p=1").content)
    containers = soup.find_all('div', class_ ="restnt-main-wrap clearfix")
    
    title = [data.find('a').text for data in containers]
    cuisin = [data.find('span', class_ ="double-line-ellipsis").text.split('|')[1].lstrip() for data in containers]
    price = [data.find('span', class_ ="double-line-ellipsis").find('span').text for data in containers]
    location = [data.text for data in soup.find_all('div', class_ ="restnt-loc ellipsis")]
    image_url = [data.find('img', class_="no-img")['data-src'] for data in containers]

    review_5 = [i.find('div', class_ ="restnt-rating rating-5") for i in containers]
    review_4 = [i.find('div', class_ ="restnt-rating rating-4") for i in containers]
    review_3 = [i.find('div', class_ ="restnt-rating rating-3") for i in containers]
    review_2 = [i.find('div', class_ ="restnt-rating rating-2") for i in containers]
    review_1 = [i.find('div', class_ ="restnt-rating rating-1") for i in containers]

    review = []

    for star5, star4, star3, star2, star1 in zip(review_5, review_4, review_3, review_2, review_1):
        if star4 != None:
            review.append(star4.text)
        elif star5 != None:
            review.append(star5.text)
        elif star3 != None:
            review.append(star3.text)
        elif star2 != None:
            review.append(star2.text)
        elif star1 != None:
            review.append(star1.text)
        else:
            review.append(np.nan)
    
    
    df_dine_out = pd.DataFrame({'title':title, 'price':price, 'cuisin':cuisin, 'location':location, 'image':image_url})
    return df_dine_out
    
dine_out()

,title,price,cuisin,location,image
0,Nostalgia,"₹ 1,200 for 2 (approx)","Portuguese, Goan","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
1,House No. 2,₹ 800 for 2 (approx),"Chinese, Continental, Goan, North Indian","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
2,Martin's Place -The Village Bistro & Pub,₹ 700 for 2 (approx),Chinese,"Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
3,AJ's,₹ 600 for 2 (approx),"Continental, Fast Food, American, Pizza","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
4,Navtara,₹ 500 for 2 (approx),"Goan, North Indian, South Indian","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
5,Cremeux,₹ 800 for 2 (approx),"Fast Food, Italian, Desserts","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
6,Navtara,₹ 500 for 2 (approx),"Goan, North Indian, South Indian","Reliance Magnum,Majorda, South Goa",https://im1.dineout.co.in/images/uploads/resta...
7,Cremeux,₹ 800 for 2 (approx),"Desserts, Fast Food, Pizza","Navelim, South Goa",https://im1.dineout.co.in/images/uploads/resta...
8,Pizza Hut,₹ 800 for 2 (approx),"Pizza, Fast Food","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
9,U.S Pizza,₹ 500 for 2 (approx),Pizza,"Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
10,The Chocolate Room,₹ 800 for 2 (approx),"Beverages, Desserts, Fast Food, Italian","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
11,Smokin' Joe's,₹ 500 for 2 (approx),"Pizza, Fast Food","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
12,Beno,"₹ 2,000 for 2 (approx)","Continental, Finger Food, Health Food, Europea...","Benaulim, South Goa",https://im1.dineout.co.in/images/uploads/resta...
13,The Farm house,₹ 800 for 2 (approx),"Chinese, North Indian, Fast Food","Benaulim, South Goa",https://im1.dineout.co.in/images/uploads/resta...
14,Tesouro,"₹ 1,500 for 2 (approx)","European, Fast Food","Colva, South Goa",https://im1.dineout.co.in/images/uploads/resta...
15,Charlie Chang's,₹ 800 for 2 (approx),"Chinese, Thai","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
16,Cafe Signo,₹ 800 for 2 (approx),"North Indian, Goan","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
17,Egganbreak 24X7,₹ 500 for 2 (approx),"North Indian, South Indian","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
18,Cavatina,"₹ 2,200 for 2 (approx)","Continental, Italian, Mexican","Benaulim, South Goa",https://im1.dineout.co.in/images/uploads/resta...
19,Foodella Restaurant,₹ 600 for 2 (approx),"Chinese, Goan, Biryani","Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...
20,Tavir,₹ 900 for 2 (approx),"North Indian, Fast Food","The Sapphire Comfort Hotel,Margao, South Goa",https://im1.dineout.co.in/images/uploads/resta...

**-------------------------------------------------------------------------------------------------------------------------**

## 10) Write a python program to scrape first 10 product details which include 
1)product name <br> 2)price <br> 3)Image URL**<br>
https://www.bewakoof.com/women-printed-t-shirts  ------> this link is not working

In [420]:
def bewakoof():
    import pandas as pd
    import numpy as np
    from bs4 import BeautifulSoup
    import requests
    
    soup = BeautifulSoup(requests.get('https://www.bewakoof.com/women-printed-t-shirts').content)
    containers = soup.find_all('a',class_="col-sm-4 col-xs-6")
    
    product_name = [data.find_all('h3')[0].text for data in containers]
    price  = [data.find_all('span', class_="discountedPriceText")[0].text.replace('â‚¹ ','') for data in containers]
    actual_price = [data.find_all('span', class_="actualPriceText")[0].text for data in containers]
    discount = [data.find('div', class_="loyaltyPriceBox").find('b').text.replace('â‚¹','') for data in containers]
    eligibility = [' '.join(data.find('div', class_="loyaltyPriceBox").find('h6').text.split()[1:]) for data in containers]
    image_url = [data.find('img')['src'] for data in containers]
    
    df = pd.DataFrame({"product_name":product_name,"actual_price":actual_price, "price":price, "discount":discount, "discount_eligibility":eligibility, "image_url":image_url})
    return df

bewakoof()

,product_name,actual_price,price,discount,discount_eligibility,image_url
0,Women's Purple Typography T-shirt,1199,₹ 479,₹459,TriBe Members,https://images.bewakoof.com/t320/dillinger-pur...
1,Women's Grey Typography T-shirt,1199,₹ 479,₹459,TriBe Members,https://images.bewakoof.com/t320/dillinger-gre...
2,Women's Beige Typography T-shirt,1199,₹ 491,₹469,TriBe Members,https://images.bewakoof.com/t320/dillinger-bei...
3,Women's Grey Typography T-shirt,1199,₹ 527,₹499,TriBe Members,https://images.bewakoof.com/t320/dillinger-gre...
4,Women's Green Typography T-shirt,1199,₹ 479,₹459,TriBe Members,https://images.bewakoof.com/t320/dillinger-gre...
5,Women's White Typography T-shirt,1199,₹ 299,₹279,TriBe Members,https://images.bewakoof.com/t320/dillinger-whi...
6,Women's Beige Typography T-shirt,1199,₹ 299,₹279,TriBe Members,https://images.bewakoof.com/t320/dillinger-bei...
7,Women's Yellow Typography T-shirt,1199,₹ 527,₹499,TriBe Members,https://images.bewakoof.com/t320/dillinger-yel...
8,Women's Pink Colourblocked T-shirt,1199,₹ 575,₹549,TriBe Members,https://images.bewakoof.com/t320/dillinger-pin...
9,Women's Blue Typography T-shirt,1199,₹ 347,₹329,TriBe Members,https://images.bewakoof.com/t320/dillinger-blu...