# WEB SCRAPING – ASSIGNMENT 4
• Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of
your choice.
• You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345</br>

1 Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views</br>
2 Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time</br>
Note: - From bcci.tv home page you have reach to the international fixture page through code.</br>
3 Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.</br>
4 Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)</br>
Note: - From statisticstimes home page you have to reach to economy page through code.</br>
5 Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used</br>


Note: - From the home page you have to click on the trending option from Explore menu through code.</br>
6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board</br>
Note: - From the home page you have to click on the charts option then hot 100-page link through code.</br>
7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location</br>
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code</br>
8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre</br>
9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes</br>
10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year</br>
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [1]:
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup 
import requests
import os
import re

from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys


import time 

import warnings 
warnings.filterwarnings('ignore')

### Ques1

Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

rank = []
video_names = []
uploader = []
views_billion = []
upload_date = []


time.sleep(6)

#Song Title
for i in range(1,31):
    video_names.append(driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr')[i].find_elements_by_xpath('.//td')[1].text.split('"')[1])

#Uploader
for i in range(1,31):
    uploader.append(driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr')[i].find_elements_by_xpath('.//td')[2].text)
  
#Views in Billion
for i in range(1,31):
    views_billion.append(driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr')[i].find_elements_by_xpath('.//td')[3].text)

#Rank    
for i in range(1,31):
    rank.append(driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr')[i].find_elements_by_xpath('.//td')[0].text)
    
#Upload Date
for i in range(1,31):
    upload_date.append(driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]//tr')[i].find_elements_by_xpath('.//td')[4].text)
    
df = pd.DataFrame({'Rank':rank, 'Video_Name':video_names, 'Artist':uploader, 'Views':views_billion, 'upload_date':upload_date})
df

,Rank,Video_Name,Artist,Views,upload_date
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,10.72,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,7.85,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids,6.36,"October 8, 2016"
3,4.,Shape of You,Ed Sheeran,5.72,"January 30, 2017"
4,5.,See You Again,Wiz Khalifa,5.52,"April 6, 2015"
5,6.,Bath Song,Cocomelon – Nursery Rhymes,5.40,"May 2, 2018"
6,7.,Phonics Song with Two Words,ChuChu TV,4.64,"March 6, 2014"
7,8.,Uptown Funk,Mark Ronson,4.58,"November 19, 2014"
8,9.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.57,"February 27, 2018"
9,10.,Masha and the Bear – Recipe for Disaster,Get Movies,4.49,"January 31, 2012"
10,11.,Gangnam Style,Psy,4.43,"July 15, 2012"
11,12.,Wheels on the Bus,Cocomelon – Nursery Rhymes,4.08,"May 24, 2018"
12,13.,Dame Tu Cosita,El Chombo,3.94,"April 5, 2018"
13,14.,Sugar,Maroon 5,3.69,"January 14, 2015"
14,15.,Roar,Katy Perry,3.58,"September 5, 2013"
15,16.,Counting Stars,OneRepublic,3.58,"May 31, 2013"
16,17.,Sorry,Justin Bieber,3.54,"October 22, 2015"
17,18.,Thinking Out Loud,Ed Sheeran,3.45,"October 7, 2014"
18,19.,Axel F,Crazy Frog,3.36,"June 16, 2009"
19,20.,Girls Like You,Maroon 5,3.29,"May 31, 2018"
20,21.,Faded,Alan Walker,3.28,"December 3, 2015"
21,22.,Dark Horse,Katy Perry,3.27,"February 20, 2014"
22,23.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,3.24,"June 25, 2018"
23,24.,Let Her Go,Passenger,3.23,"July 25, 2012"
24,25.,Bailando,Enrique Iglesias,3.21,"April 11, 2014"
25,26.,Lean On,Major Lazer,3.21,"March 22, 2015"
26,27.,Shake It Off,Taylor Swift,3.17,"August 18, 2014"
27,28.,Perfect,Ed Sheeran,3.17,"November 9, 2017"
28,29.,Waka Waka (This Time for Africa),Shakira,3.14,"June 4, 2010"
29,30.,Mi Gente,J Balvin,3.08,"June 29, 2017"

### Ques2

Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1 st ODI) B) Series C) Place D) Date E) Time

In [3]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.bcci.tv/')

#fetching button link
driver.get(driver.find_element_by_xpath('//a[@class="moreMatchesLink"]').get_attribute('href'))

time.sleep(5)
series = [series.text.split('\n')[0] for series in driver.find_elements_by_xpath('//div[@class="fixture-card-top"]')] 
date = [title.text.split('\n')[1] for title in driver.find_elements_by_xpath('//div[@class="fixture-card-top"]')] 
timee = [title.text.split('\n')[2] for title in driver.find_elements_by_xpath('//div[@class="fixture-card-top"]')] 
place = [place.text.split(' - ')[1] for place in driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')]
title = [title.text.split(' - ')[1] for title in driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')]

df = pd.DataFrame({'Match title':title, 'Series':series, 'Place':place, 'Date':date, 'Time':timee})
df

,Match title,Series,Place,Date,Time
0,"Arun Jaitley Stadium, Delhi",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium, Delhi",9 JUN 2022,6:30 AM PDT
1,"Barabati Stadium, Cuttack",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium, Cuttack",12 JUN 2022,6:30 AM PDT
2,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...,14 JUN 2022,6:30 AM PDT
3,"Saurashtra Cricket Association Stadium, Rajkot",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium, Rajkot",17 JUN 2022,6:30 AM PDT
4,"M Chinnaswamy Stadium, Bengaluru",SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",19 JUN 2022,6:30 AM PDT

## Ques-3

Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [4]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.guru99.com/')

driver.find_element_by_xpath('//*[@id="kt-info-box_eaeb48-11"]').click()

time.sleep(3)
#opening the selenium exception page
driver.get(driver.find_element_by_xpath('//a[@data-lasso-id="182688"]').get_attribute('href'))

exceptions = [excep.text for excep in driver.find_elements_by_xpath('//table[@class="table table-striped"]//td')][0::2]
description_exceptions = [excep.text for excep in driver.find_elements_by_xpath('//table[@class="table table-striped"]//td')][1::2]
df = pd.DataFrame({'Name':exceptions, 'Description Note':description_exceptions})
df

,Name,Description Note
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

## Ques-4

Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion)

In [5]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('http://statisticstimes.com/')

time.sleep(3)
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()

time.sleep(3)
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()
url = driver.current_url
time.sleep(3)
#opening the page by fetching URL (Indias stated GDP)
#using try except to deal with popups
try:
    driver.get(url)
    
    driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()

    time.sleep(3)
    driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/div/a[3]').click()

    driver.get(driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').get_attribute('href'))
except:
    pass

#fetching all the data in table cells
rows = [row.text for row in driver.find_elements_by_xpath('//tr[@role="row"]//td')]

rank = [rank for rank in rows][0::8][:33]
state = [state for state in rows][1::8][:33]
GDP19_20 = [gdp19_20 for gdp19_20 in rows][2::8][:33]
GDP18_19 = [gdp18_19 for gdp18_19 in rows][3::8][:33]
share18_19 = [gdp18_19 for gdp18_19 in rows][4::8][:33]
GDP_Billion = [gdp_billion for gdp_billion in rows][5::8][:33]

df = pd.DataFrame({'Rank':rank, 'State':state, 'GSDP(19-20)':GDP19_20, 'GSDP(18-19)':GDP18_19, 'Share(2018)':share18_19, 'GDP($ billion)':GDP_Billion})
df

,Rank,State,GSDP(19-20),GSDP(18-19),Share(2018),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## Ques-5

Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details:</br>A) Repository title B) Repository description C) Contributors count D) Language used

In [6]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://github.com/')

time.sleep(3)
#clicking on explore dropdown
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details').click()
#clicking on trenting
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a').click()

In [8]:
rep_title = [title.text for title in driver.find_elements_by_xpath('//article[@class="Box-row"]//h1')]
rep_des = [desc.text for desc in driver.find_elements_by_xpath('//article[@class="Box-row"]//p')]

containers = driver.find_elements_by_xpath('//article[@class="Box-row"]')
stars = [stars.find_element_by_xpath('.//a[@class="Link--muted d-inline-block mr-3"]').text for stars in containers]

language = []
for i in containers:
    try:
        language.append(i.find_element_by_xpath('.//span[@itemprop="programmingLanguage"]').text)
    except:
        language.append('-')

In [9]:
df = pd.DataFrame({'Repository title':rep_title, 'Repository description':rep_des, 'Contributors count':stars, 'Language used':language})
df

,Repository title,Repository description,Contributors count,Language used
0,yihong0618 / Kindle_download_helper,Download all your kindle books script.,641,Python
1,papers-we-love / papers-we-love,Papers from the computer science community to ...,"61,496",Shell
2,borisdayma / dalle-mini,DALL·E Mini - Generate images from a text prompt,"4,013",Python
3,metabase / metabase,"The simplest, fastest way to get business inte...","28,781",Clojure
4,sudheerj / reactjs-interview-questions,List of top 500 ReactJS Interview Questions & ...,"21,438",JavaScript
5,alibaba / GaiaX,GaiaX dynamic template engine is a lightweight...,454,Rust
6,saharmor / dalle-playground,A playground to generate images from any text ...,593,JavaScript
7,dortania / OpenCore-Legacy-Patcher,Experience macOS just like before,"2,338",Python
8,bradtraversy / 50projects50days,"50+ mini web projects using HTML, CSS & JS","16,184",CSS
9,PaperMC / Paper,High performance Spigot fork that aims to fix ...,"6,081",Java
10,AI4Finance-Foundation / FinRL,FinRL: The first open-source project for finan...,"5,482",Jupyter Notebook
11,realm / realm-swift,Realm is a mobile database: a replacement for ...,"15,345",Objective-C
12,LinuxSuRen / remote-jobs-in-china,支持远程办公的中国公司,"1,285",-
13,chakra-ui / chakra-ui,"⚡️ Simple, Modular & Accessible UI Components ...","26,774",TypeScript
14,manateelazycat / lsp-bridge,Fastest LSP client for Emacs,379,Emacs Lisp
15,Snailclimb / JavaGuide,「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...,"122,589",Java
16,jina-ai / jina,Build cross-modal and multi-modal applications...,"14,882",Python
17,jina-ai / dalle-flow,A Human-in-the-Loop workflow for creating HD i...,"1,051",Python
18,alibaba / DataX,DataX是阿里云DataWorks数据集成的开源版本。,"11,253",Java
19,GoogleCloudPlatform / cloud-foundation-fabric,End-to-end modular samples for Terraform on GCP.,478,HCL
20,shimohq / chinese-programmer-wrong-pronunciation,中国程序员容易发音错误的单词,"17,179",Python
21,vuejs / vitepress,Vite & Vue powered static site generator.,"4,519",TypeScript
22,MicrosoftDocs / azure-docs,Open source documentation of Microsoft Azure,"7,172",PowerShell
23,digitalocean / nginxconfig.io,⚙️ NGINX config generator on steroids 💉,"18,896",JavaScript
24,gin-gonic / gin,Gin is a HTTP web framework written in Go (Gol...,"60,008",Go

## Ques-6

Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details: </br>A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [10]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https:/www.billboard.com/')

time.sleep(5)
#clicking on hot100 songs
driver.find_element_by_xpath('//li[@class="o-nav__list-item "]').click()

#container which contains all the information about the song
containers = driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]')
time.sleep(3)

song_name = [data.find_element_by_xpath('.//h3').text for data in containers]
artist_name = [data.find_elements_by_xpath('.//li')[3].text.split('\n')[1] for data in containers]
week_on_board = [data.find_elements_by_xpath('.//li')[3].text.split('\n')[-1] for data in containers]
peak_rank = [data.find_elements_by_xpath('.//li')[3].text.split('\n')[-2] for data in containers]
last_week_rank = [data.find_elements_by_xpath('.//li')[3].text.split('\n')[-3] for data in containers]

df = pd.DataFrame({'Song name':song_name, 'Artist name':artist_name, 'Last week rank':last_week_rank, 'Peak rank':peak_rank, 'Weeks on board':week_on_board})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,1,1,9
1,First Class,Jack Harlow,2,1,8
2,Wait For U,Future Featuring Drake & Tems,3,1,5
3,About Damn Time,Lizzo,5,4,7
4,Heat Waves,Glass Animals,6,1,72
...,...,...,...,...,...
95,Love You Better,Future,84,12,5
96,Wild Hearts,Keith Urban,-,97,1
97,Last Night Lonely,Jon Pardi,-,98,1
98,7500 OBO,Tim McGraw,-,99,1
99,Until I Found You,Stephen Sanchez,-,100,1

## Ques-7

Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: </br>A) Name B) Designation C) Company D) Skills they hire for E) Location
</br>Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [11]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.naukri.com/hr-recruiters-consultants')

for i in range(0,2):
    driver.find_element_by_tag_name('body').send_keys(Keys.END)

time.sleep(5)
name = [data.text for data in driver.find_elements_by_xpath('//div[@class="recInfo"]//p//span')][0::3]
designation = [data.text for data in driver.find_elements_by_xpath('//div[@class="recInfo"]//p//span')][1::3]
company = [data.text for data in driver.find_elements_by_xpath('//div[@class="recInfo"]//p//a')][1::2]
skills_they_hire_for = [data.text for data in driver.find_elements_by_xpath('//div[@class="hireSec"]')]
location = [data.text for data in driver.find_elements_by_xpath('//div[@class="recInfo"]//p//span')][2::3]

df = pd.DataFrame({'Name':name, 'Designation':designation, 'Company':company, 'Skills they hire for':skills_they_hire_for, 'Location':location})
df

,Name,Designation,Company,Skills they hire for,Location
0,Santhosh Kumar,Associate Manager Human Resources,Maveric Systems,"It Recruitment, Campus Recruitment, Campus Hir...",Chennai
1,CodeFlies,Human Resources,CodeFlies,"Email Marketing, Communication, Online Lead Ge...",Noida
2,Surendra R,Company Recruiter,DSR Design & Engineering Solutions,"Design Engineering, AutoCAD, Solid Works",Hyderabad / Secunderabad
3,Sanghvi,Company Recruiter,Primacy Systems Pvt Ltd,"Marketing, Sales, Plastic, Aluminium, Metal, S...",Ahmedabad
4,Neha Pandey,Company Recruiter,Ingenious E-Brain Solutions Private Limited,"B.tech, Operations, Business Development, Busi...",Gurgaon
5,Vinita Raut,Company Recruiter,Xpansion HR Solutions Private Limited,"Bde, Accounting, Education Counseling, Sales, ...",Pune
6,HR,Human Resources,Crescentek,Developers,Kolkata
7,BALA Sakthivelmuthu,Company Recruiter,E Vel,"Html, Css, Javascript, Ui Development, Java, A...",Madurai
8,Anandi Bandekar,Deputy Manager Recruitment,GeBBS Healthcare Solutions,"CTO, VP, Sr.Manager",Mumbai
9,Pralhad DHUMAL,Company Recruiter,FOX SOLUTIONS,"Plc, Scada, Vfd Drives, Industrial Automation,...",MAHARASHTRA
10,Charu Saini,Company Recruiter,OESPL PVT LTD,"Marketing, Civil Construction, Project Managem...",Noida
11,Kusum Chaudhary,Human Resources,Chadha Industries Pvt. Ltd.,"gm-sales, Manager Sales, analyst, Business Ana...",Delhi
12,Prarit Gupta,Human Resource Manager,HMS Relations Management,"Counter Sales, Sales",Delhi
13,Raghu Hrexecutive,Human Resource manager,IQs soft,"Java/J2ee ( Core Java, Struts, Hibernate, Serv...",Bengaluru / Bangalore
14,Take jobs,Human Resources,Take Jobs,"tally, Bank Reconciliation, billing, electrica...",Delhi
15,iNFIN Technologies,Human Resources,Infin Software Technologies Pvt. Ltd,"Technical, PHP, Web Development, Web Technolog...",Chandigarh

## Ques-8

Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [12]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

complete_data = [data.text for data in driver.find_elements_by_xpath('//tr//td')]

book_name = complete_data[2::6]
auther_name = complete_data[3::6]
volume_sold = complete_data[4::6]
publisher = complete_data[5::6]
genre = complete_data[6::6]

df = pd.DataFrame({'Book name':book_name, 'Author name':auther_name, 'Volumes sold':volume_sold, 'Publisher':publisher, 'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Ques-9

Scrape the details most watched tv series of all time from imdb.com. </br>Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: </br>A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [13]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://www.imdb.com/list/ls095964455/')

#
containers = driver.find_elements_by_xpath('//div[@class="lister-item-content"]')

name = [data.find_elements_by_xpath('.//a')[0].text for data in containers]
year_span = [i.find_elements_by_xpath('.//span')[1].text for i in containers]
genre = [data.find_elements_by_xpath('.//p/span')[4].text for data in containers]
run_time = [data.find_elements_by_xpath('.//p/span')[2].text for data in containers]
ratings = [data.find_elements_by_xpath('.//div/span')[1].text for data in containers]
votes = [data.find_element_by_xpath('.//span[@name="nv"]').text for data in containers]

df = pd.DataFrame({'Name':name, 'Year span':year_span, 'Genre':genre, 'Run time':run_time, 'Ratings':ratings, 'Votes':votes})
df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,993,279"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,028,065"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"948,942"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"283,531"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,312"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,840"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,506"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,223"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,268"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"228,514"

## Ques-10

Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: </br>A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year
</br>Note: - from the home page you have to go to the ShowAllDataset page through code.

In [14]:
driver = webdriver.Chrome('chromedriver.exe')
driver.get('https://archive.ics.uci.edu/')


time.sleep(5)
#click on view all the datasets button
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]').click()

table = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]')

#all the data in //p tags
data = table.find_elements_by_xpath('.//p[@class="normal"]')
data_text = [i.text for i in data]

dataset_name = data_text[0::7]
data_type = data_text[1::7]
task = data_text[2::7]
attribute_type = data_text[3::7]
no_of_instances = data_text[4::7]
no_of_attribute = data_text[5::7]
year = data_text[6::7]

df = pd.DataFrame({'Dataset name':dataset_name, 'Data type':data_type, 'Task':task, 'Attribute type':attribute_type, 'No of instance':no_of_instances, 'No of Attribute':no_of_attribute, 'Year':year})
df

,Dataset name,Data type,Task,Attribute type,No of instance,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021